{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: rgb(206, 206, 228);
  }
</style>
<!--Form Section-->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Get informed advice on fertilizer based on soil</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('fert_recommend') }}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>




    <div class="form-group">
      <label for="State" style="font-size: 17px"><b>State</b></label>
      <select
        onchange="print_city('state', this.selectedIndex);"
        id="sts"
        name="stt"
        class="form-control"
        style="font-weight: bold; color: black"
        required
      ></select>
      <br />
      <label for="City" style="font-size: 17px"><b>City</b></label>
      <select
        id="state"
        class="form-control"
        name="city"
        style="font-weight: bold; color: black"
        required
      ></select>
      <script language="javascript">
        print_state("sts");
      </script>
    </div>



    
    <div class="form-group">
      <label for="crop" style="font-size: 17px"
        ><b>Crop you want to grow</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option value="1">rice</option>
        <option value="2">maize</option>
        <option value="3">chickpea</option>
        <option value="4">kidneybeans</option>
        <option value="5">pigeonpeas</option>
        <option value="6">mothbeans</option>
        <option value="7">mungbean</option>
        <option value="8">blackgram</option>
        <option value="9">lentil</option>
        <option value="10">pomegranate</option>
        <option value="11">banana</option>
        <option value="12">mango</option>
        <option value="13">grapes</option>
        <option value="14">watermelon</option>
        <option value="15">muskmelon</option>
        <option value="16">apple</option>
        <option value="17">orange</option>
        <option value="18">papaya</option>
        <option value="19">coconut</option>
        <option value="20">cotton</option>
        <option value="21">jute</option>
        <option value="22">coffee</option>
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >
        Predict
      </button>
    </div>
  </form>
</div>
{% endblock %}
